.data{
  background-image: url('../images/flowers-2808204_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  padding-left: 50px;
}

.data1 img{
  position: absolute;
  /* float: left; */
  width: 30%;
  z-index: 2;
  transform: translate(0%,0%);
  /* clip: rect(0px,1000px,2070px,39px); */
  border-radius: 50%;
  /* opacity: 0.9; */
  /* border-top: -26px solid black; */
}
 .column1 {
  float: left;
  position: absolute;
  color: red;
  height: 70%;
  width: 50%;
}
.content1{
  padding: 10px;
  color: white;
  font-size: 30px;
  position: absolute;
  transform: translate(100%,0%);
  width: 80%;
  height: 100%;
  text-align: center;
  background-color: tomato;
  border-radius: 100%;

}

/* .data1{
  max-width: 1000px;
  margin: auto;
}
.imgcont{
  background-image: url('../images/sparkler-677774_1920 (1).jpg');
  width: 50%;
  height: 100%;
  background-size: cover;
}
.row1 {
    margin: 10px -16px;
}
.row1,
.row1 > .column1 {
    padding: 10px;
}
.row1:after {
    content: "";
    display: table;
    clear: both;
}
.data1 .content1{
  background-color: white;
  padding: 10px;
}
 */
